* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed";
  color: #ffffff;
  background-image: linear-gradient(110.3deg, #1d1d1b 10%, #bd1818 90%);
  background-size: cover;
}
body #inicio {
  height: 110px;
  background-color: linear-gradient(110.3deg, #bd1818 10%, #1d1d1b 90%);
}
body ul li {
  display: inline-block;
  margin: 10px;
}
body ul li a span {
  align-items: center;
}
body article {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgba(60, 60, 59, 0.5);
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 24, 24, 0.5);
  height: 60px;
  font-size: 32px;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.enfasis {
  text-shadow: 1px 1px 20px #ffffff;
  border-bottom: 2px solid #bd1818;
}
.enfasis a {
  color: #bd1818;
}

.separador {
  background-image: url("../images/separador.jpg");
}

.separador2 {
  background-image: url("../images/portada2.jpg");
}

.separador, .separador2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.backToUp {
  position: fixed;
  right: 0;
  bottom: 25px;
  z-index: 4;
}

.button {
  height: 50px;
  width: 200px;
  border: #bd1818 1px solid;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #bd1818;
  background-image: linear-gradient(45deg, #bd1818 0%, #1d1d1b 40%, #bd1818 100%);
}
.button span {
  color: #ffffff;
  font-size: 22px;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.enlace {
  text-decoration-color: #bd1818;
  color: white;
  font-style: italic;
}

.notPage {
  height: 500px;
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notPage div {
  text-shadow: 1px 1px 20px white;
  padding: 10px;
  margin: 10px;
}

header {
  height: 110px;
  width: 100%;
  padding: 0 5px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "logo headerNav headerNav headerNav";
}
header .logo {
  grid-area: logo;
}
header .headerNav {
  grid-area: headerNav;
  display: flex;
  justify-content: flex-start;
}
header a {
  text-decoration: none;
  color: #ffffff;
}

.fecha {
  height: 380px;
  background-image: url("../images/separador.jpg");
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "gtitle gtitle gtitle" "gtext gtext gmap" "gbtn gbtn gmap";
}
.fecha .g_title {
  grid-area: gtitle;
  font-size: 30px;
}
.fecha .g_map {
  grid-area: gmap;
}
.fecha .g_btn {
  grid-area: gbtn;
}
.fecha .g_text {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 20px;
  font-size: 20px;
  flex-direction: column;
  text-align: justify;
  grid-area: gtext;
}
.fecha .g_text p {
  font-size: 20px;
  width: 50%;
}

.g_btn, .g_text, .g_map, .g_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d_title {
  font-size: 24px;
  text-shadow: 1px 1px 10px #050000;
  font-style: ligth;
  grid-area: dtitle;
}

.d_iframe {
  grid-area: difr;
}

.d_desc {
  grid-area: ddesc;
}

.d_album {
  grid-area: dalbum;
}

#videos {
  color: white;
  font-family: "Roboto Condensed";
  display: flex;
  flex-direction: row;
}
#videos .vid {
  padding: 5px 0px;
  border: #000000 1px solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#videos .vid span {
  width: 100%;
}
#videos .vid div {
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.5490196078);
}

#banda {
  height: 500px;
}
#banda .theBand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
#banda .theBand .text {
  text-align: center;
  position: relative;
  z-index: 2;
  bottom: 80px;
  height: 80px;
  width: 80%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5215686275);
}

#galeria img, #miembros img, #banda img {
  border: 1px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.801);
}

#miembros {
  font-family: "Roboto Condensed";
  color: white;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
#miembros a {
  color: white;
}
#miembros .miembros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rulo vero ale" "tirri ari caio";
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}
#miembros .miembros span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#miembros .miembros .rulo {
  grid-area: rulo;
}
#miembros .miembros .ari {
  grid-area: ari;
}
#miembros .miembros .vero {
  grid-area: vero;
}
#miembros .miembros .ale {
  grid-area: ale;
}
#miembros .miembros .caio {
  grid-area: caio;
}
#miembros .miembros .tirri {
  grid-area: tirri;
}

.galeria {
  height: 500px;
  font-size: x-large;
  align-items: center;
}

.latest {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas: "ntitle ntitle ntitle" "ndesc ndesc nimg" "nlink nlink nimg";
}
.latest .n_title {
  grid-area: ntitle;
}
.latest .n_desc {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 20px;
  font-size: 20px;
  flex-direction: column;
  text-align: justify;
  grid-area: ndesc;
}
.latest .n_img {
  box-shadow: 1px 1px 10px #ffffff;
  grid-area: nimg;
}
.latest .n_link {
  grid-area: nlink;
  text-decoration: none;
}

.n_desc, .n_img, .n_link, .n_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: static;
  bottom: 0;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "cont cach";
  border-top: 1px groove rgba(0, 0, 0, 0.4941176471);
  background-image: url("../images/logo-blanco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  padding: 10px 50px;
}
footer .contacto {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  grid-area: cont;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .cachorro {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  grid-area: cach;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
footer a {
  color: #ffffff;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
