footer{

    height: auto;
    
    border-top: 1px groove #0000007e;
    background-image: url("../images/logo-blanco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    
    
    .fondo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        grid-template-areas:
        "cont cach"
        ;
        background-color: rgb(0, 0, 0,0.5);
        
        padding:1rem 5rem;

        .contacto{
            grid-area: cont;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .cachorro{
            grid-area: cach;
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            align-items: flex-end; 
        }
    
        a{
            color: nth($paleta, 6);
            font-style: italic;
        }
    }
}