*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Roboto Condensed';

    color: nth($paleta, 6);

    position: relative;
    top: 110px;
    background-image: linear-gradient( 110.3deg, nth($paleta, 1) 10% , nth($paleta, 4) 90%);
    background-size: cover;

    a{
        color: nth($paleta, 6);
        text-decoration: none;
        font-style: italic;
    }

    ul{
        li{
            display: inline-block;
            margin: 10px;

            a{
                span{
                    align-items: center;
                }
            }
        }
    }

    article{
        margin: 5px;
        padding: 5px;
        
        border: 1px solid nth($paletaOp, 2);
                
        display: flex;
        justify-content: center;
    }
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: nth($paletaOp, 4);
    
    height: 60px;
    
    font-size: 32px;
    text-shadow: 1px 1px 10px nth($paletaOp, 6);
    
}

.logo{
    position: fixed;
    z-index: 5;
    left: 10px;
    top: 20px;
}

.enfasis{
    text-shadow: 1px 1px 20px nth($paleta, 6);
    border-bottom: 2px solid nth($paleta, 4);
}

.separador{
    background-image: url('../images/separador.jpg');
}

.separador2{
    background-image: url('../images/portada2.jpg');
}

.separador, .separador2{
    background-repeat: no-repeat;
    background-size: cover;
}

.backToUp{
    position:fixed;
    right: 0;
    bottom: 25px;
    z-index: 4;
}

.button{
    height: 50px;
    width: 200px;
    
    border: nth($paleta, 4) 1px solid;
    
    border-radius: 3px;
    box-shadow: 1px 1px 2px nth($paleta, 4);
    background-image: linear-gradient(45deg, nth($paleta, 4) 0%, nth($paleta, 1)  40%, nth($paleta, 4)  100%);
    
    span{
        color: nth($paleta, 6);
        font-size: 22px; 
        text-shadow: 1px 1px 5px nth($paletaOp, 6);
    }
}