.fecha{
    height: max-content;

    margin:1rem 0;
    padding-bottom: 1rem;

    border-bottom: 1px nth($paleta, 1) solid;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto 1fr auto;

    row-gap: 0.5rem;

    grid-template-areas:
    
    "gtitle gtitle"
    "gtext gmap"
    "gtext gbtn"
    ;

    .g_title{   
        grid-area: gtitle;
    }
    
    .g_map{
        grid-area: gmap;

        iframe{
            width: auto;
            
            max-height: 28.1rem;
            max-width: 50rem;

            aspect-ratio: 16 / 9;
        }
    }
    
    .g_btn{   
        grid-area: gbtn;
    }
    
    .g_text{
        padding: 2rem 1rem;
        background-color: #00000080;
        border-radius: 20px;
        font-size: 20px;
    
        flex-direction: column;
        
        text-align:justify;
        
        grid-area: gtext;
        
        p{
            text-align: left;
            font-size: 20px;
            width: 50%;
        }
    }    
}

.g_btn, .g_text, .g_map, .g_title{
    display: flex;
    align-items: center;
    justify-content:center;
}

