header {
  height: 11rem;
  padding: 0 1rem;

  background-color: rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(175deg, nth($paleta, 1) 40%, nth($paleta, 4) 100%);
  display: grid;
  align-items:center ;
  grid-template-columns: 0.2fr 1fr;

  grid-template-areas:
    "logo headerNav"
  ;

  .logo {
    grid-area: logo;
  }

  .burger {
    position: absolute;
    left: 0;
    ul {
      position: absolute;
      left: 0;
      height: 99vh;
      width: 33.3vw;
      display: none;
      padding: 0;
      background: nth($paleta, 1);

      li {
        display: block;
        margin: 0;
        padding: 1rem;
        list-style: none;
        border-bottom: 1px solid black;
      }

      .about{
        position: absolute;
        bottom: 0;
        font-size: 2px !important;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
      }
    }

    input:checked~ul {
      display: block;
    }

    input {
      display: none;
    }

    label {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid black;
      background-color: nth($paletaOp, 1);
      border-radius: 5px;
      width: 3.2rem;
      height: 3.2rem;
      line-height: 3.2rem;
      font-weight: 3rem;
      text-align: center;
      user-select: none;
    }

  }

  .headerNav {
    grid-area: headerNav;

    display: flex;
    justify-content: center;

    .navItem {
      span {
        font-size: 2.4rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: nth($paleta, 6);
  }
}