header{
    height: 110px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    
    font-size: 24px;
    
    background-color: #00000080;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 4;
    
    display: flex;
    justify-content: center;
}