.carrusel{
    
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
    overflow: hidden;

    .social{
        position: relative;
        z-index: 1;
        bottom: 64px;
    }

}

section{
    nav{
        ul{
            border-bottom-left-radius: 5%;
            border-top-left-radius: 5%;
            border-bottom-right-radius: 5%;
            border-top-right-radius: 5%;
            background-color: rgba(0, 0, 0, 0.514);
        }
    }
}