#homePage{

    overflow-x: hidden;

    #index{
        display: flex;
        justify-content: center;
        overflow:hidden;

        position: absolute;
        z-index: 4;
        width: calc(100vw);
        height:calc(100vh);
        --animation-duration:3.5s;
    
        padding:0;
        margin: 0;
    
        input{
            display: none;
        }
    
        
        .indexVideo{
            position: absolute;
            z-index: 5;
            min-height:calc(100vh);
            overflow: hidden;

        }
        
        .swipeContainer{
            position: absolute;
            z-index: 6;
    
            width: 7rem;
            bottom: 10rem;
            left: calc(50vw - 4.5rem);
            --animate-duration: 3.5s;
        }
    }
    
    main{
        .home_main{
            display: flex;
            justify-content: center;
            align-items: center;
        
            background-color: nth($paletaOp, 2);
            background-image: url("../images/fondo.gif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: darken;
        
            #carousel,.carousel-inner,.carousel-item{
                height: 55rem;
                width: 108rem;
            }
            
            .carousel-item{
                img{
                    height: 55rem;
                    width: 108rem;
                }
            }
        }
    }
}
