#videos{

    padding: 0.5rem;
    color: white;
    font-family:'Roboto Condensed';

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    grid-template-areas:
    "vtitle vtitle"
    "va1 va2"
    ;

    .title{
        grid-area: vtitle;
    }

    .vAside1{
        grid-area: va1;
    }

    .vAside2{
        grid-area: va2;
    }
    
    .vid{
        padding:0px;
        border: #000000 1px solid;
        border-radius: 2px;
        
        display: grid;
        grid-template-rows: auto auto 1fr;

        grid-template-areas:
        
        "vtit"
        "vvid"
        "vdesc"
        ;


        .title{
            grid-area: vtit;
        }
        
        .vVideo{
            grid-area: vvid;
            height: auto;
            padding: 0;

            iframe{
                width: 100%;
                aspect-ratio: 16 / 9;
            }
        }

        .vDesc{

            grid-area: vdesc;


            padding: 1.5rem;
            background-color: #0000008c;

            p, a{
                font-size: medium;
            }
        }
    }
}
