@media screen and (max-width: 1079px){

    .home_main{
        width: calc(100vw);
        #carousel,.carousel-inner,.carousel-item{
            width: calc(99%);
            height: auto;
        }
        
        .carousel-item{ 
            img{
                width: auto;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 1010px){
    
    header{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "logo logo logo logo logo" 
            "headerNav headerNav headerNav headerNav headerNav"
        ;

        div{
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 760px){

    header{
        .header_logoSmall{
            display: none;
        }

        .burger{
            display: none;
        }
    }
}

@media screen and (max-width: 760px){

    header{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas:
        
        "burger logo" 
        ;

        .logo{
            justify-content: flex-start;
        }
        .header_logoBig{
            display: none;
        }

        .headerNav{
            display: none;
        }

        .animate__FadeInLeft{
            animation:alternate-reverse;
          }
    }

    footer{
        .fondo{

            font-size: 50%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.2fr;
            
            grid-template-areas:
            "cont"
            "cach"
            ;

            row-gap: 1rem;

            .contacto{
                nav,a{
                    display:flex;
                    justify-content: center;
                }
            }
        
            .cachorro{
                justify-content:center;
                align-items: center; 
            }
        }
    }
}