.d_title{
    font-size: 24px;
    text-shadow: 1px 1px 10px #050000;
    font-style: ligth;

    grid-area: dtitle;
}

.d_iframe{
    grid-area: difr;
}

.d_desc{
    grid-area: ddesc;
}

.d_album{
    grid-area: dalbum;
}

#videos{

    margin: 5px;
    color: white;
    font-family:'Roboto Condensed';

    display: flex;
    flex-direction: row;
    
    .vid{
        padding:0px;
        border: #000000 1px solid;
        border-radius: 5px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        span{
            width: 100%;
        }
        
        div{
            border-radius: 10px;
            padding: 10px;
            margin: 0 10px;
            background-color: #0000008c;
        }
    }
}
