
@media screen and (max-width: 600px) {
    html{

        body{
            max-width: 600px;

            .latest {
    
                .g_map{
                    max-width: 550px;

                    width: auto;    
                    aspect-ratio: 16 / 9;
                }
            }
        }
    }
}

@media screen and (max-width: 761px) {

    html{
        body{
            max-width: 760px;
    
            #head,header{
    
                grid-template-columns: 0.1fr 1fr;
                grid-template-areas:
                
                "burger logo"
                "burger logo" 
                ;
    
                .logo{
    
                    grid-area: logo;
                }
    
                .burger{
                    z-index: 3;
                    grid-area: burger;
                }
    
                .header_logoBig{
                    display: none;
                }
        
                .headerNav{
                    display: none;
                }
        
                .animate__FadeInLeft{
                    animation:alternate-reverse;
                }
            }

            #miembros{
            
                .miembros {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6,1fr);
        
                    grid-template-areas:
                        "rulo"
                        "vero"
                        "ale" 
                        "tirri"
                        "ari" 
                        "caio"
                    ;
                }
            }

            main{

                grid-template-rows: 1fr;
                height: 100%;
                background-color: transparent;
                .home_main{
                    height: 100%;
                    .banner_h{
                        display: none;
    
                        #carousel2, .carousel-inner, .carousel-item{
                            aspect-ratio: 9 / 16;
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }

            #videos{
                grid-template-columns: auto;
                grid-template-rows: repeat(3, auto);
                column-gap: 0rem;
                row-gap: 1rem;
                
                grid-template-areas:
                
                "vtitle"
                "va1" 
                "va2"
                ;
            }
        
            footer{
                .fondo{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 0.2fr;
                    
                    grid-template-areas:
                    "cont"
                    "cach"
                    ;
        
                    row-gap: 1rem;
        
                    .contacto{
                        nav,a{
                            display:flex;
                            justify-content: center;
                        }
                    }
                
                    .cachorro{
                        visibility: hidden;
                        justify-content:center;
                        align-items: center; 
                    }
                }
            }
        }
    }
}

/* Intercambio de logo */
@media screen and (min-width: 761px){

    body{
        
        header{
            .header_logoSmall{
                display: none;
            }
    
            .burger{
                display: none;
            }
        }

        .home_main{
            .banner_v{
                display: none;
            }
        }
    }

}

@media screen and (max-width: 1000px){

    body{

        max-width: 1000px;

        header{
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            grid-template-areas:
                "logo" 
                "headerNav"
            ;
    
            div{
                display: flex;
                justify-content: center;
            }
        }

        .home_main{
            display: flex;
            justify-content: center;

            #carousel, .carousel-inner, .carousel-item{
                max-width: calc(100vw - 10rem);
                height: auto;
            }
        }

        .latest {
            height: max-content;
            grid-template-columns:1fr;
            grid-template-rows: repeat(4, auto);

            grid-template-areas:
    
                "ntitle"
                "nimg"
                "ndesc"
                "nlink"
            ;

            .g_map{
                max-width: calc(95vw - 1rem);

                aspect-ratio: 16 / 9;
            }
        }

        .fecha{

            padding: 0.5rem;
            height: max-content;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);

            justify-content: center;
            align-items: center;

            grid-template-areas:
            
            "gtitle"
            "gtext" 
            "gmap"
            "gbtn"
            ;
        }

        #banda{
            .theBand{
                .bandText{
                    bottom: 0;
                    width: 100vw;
                }
            }
        }
        
        #miembros{            
            .miembros {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(3,1fr);
    
                grid-template-areas:
                    "rulo vero"
                    "ale tirri"
                    "ari caio"
                ;
            }
        }

        .formLogo{
            display: none;
        }
    }
}

@media screen and (min-width: 1010px) {
    body{
        min-width: 1010px;

        #index{
            min-width: 100vw;

            .indexVideo{
                min-width: 100%;
            }
        }

        .section_form{

            display: flex;
            justify-content: center;

            .block_form{

                width: calc(50%);
                height: calc(90%);

            }
        }

    }
}


