/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    header{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas:
        
        "burger logo" 
        ;

        .logo{
            justify-content: flex-start;
        }
        .header_logoBig{
            display: none;
        }

        .headerNav{
            display: none;
        }

        .animate__FadeInLeft{
            animation:alternate-reverse;
          }
    }

    footer{
        .fondo{

            font-size: 50%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.2fr;
            
            grid-template-areas:
            "cont"
            "cach"
            ;

            row-gap: 1rem;

            .contacto{
                nav,a{
                    display:flex;
                    justify-content: center;
                }
            }
        
            .cachorro{
                justify-content:center;
                align-items: center; 
            }
        }
    }
}

/* Intercambio de logo */
@media screen and (min-width: 760px){

    header{
        .header_logoSmall{
            display: none;
        }

        .burger{
            display: none;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 1000px) {
    header{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "logo logo logo logo logo" 
            "headerNav headerNav headerNav headerNav headerNav"
        ;

        div{
            display: flex;
            justify-content: center;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 1010px) {
    
}

