.latest{
    height: max-content;

    color: white;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.5fr repeat(2,1fr);

    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    grid-template-areas:

    "ntitle ntitle"
    "ndesc nimg"
    "nlink nimg"
    ;
    
    .n_title{
        grid-area: ntitle;
    }
    
    .n_desc{
        padding: 2rem;
        background-color: #00000080;
        border-radius: 2rem;
        font-size: 2rem;
    
        flex-direction: column;
    
        text-align:justify;
    
        grid-area: ndesc;
    }
    
    .n_img{
        justify-content: center;
        align-items: center;
        grid-area: nimg;
        overflow: hidden;

        iframe{
            height: 28.1rem;
            width: 50rem;
            
            max-height: 28.1rem;
            max-width: 50rem;
        }
    }
    
    .n_link{
        grid-area: nlink;
        text-decoration: none;
    }
}

.n_desc, .n_img, .n_link, .n_title{
    display: flex;
    justify-content: center;
    align-items: center;

}